nav {
  background-color: var(--nav-color);
  color: var(--color);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  // font-weight: bolder;
  .harmburger {
    display: none;
  }
  li {
    cursor: pointer;
  }
  .logo {
    cursor: pointer;
    flex: 1;
    img {
      background-color: var(--nav-color);
      max-height: 30px;
    }
  }
  .links {
    width: 33%;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .links ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icons {
    flex: 1;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span,
    a {
      margin-left: 30px;
      cursor: pointer;
    }
    & > i {
      margin-left: 30px;
      cursor: pointer;
    }
  }
  .icons2 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    // position: relative;
    .harmburger {
      cursor: pointer;
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      div {
        height: 3px;
        width: 30px;
        background-color: var(--color);
        margin-bottom: 3px;
      }
    }
    .menu {
      height: 100vh;
      width: 100vw;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: white;
      font-size: 2.5rem;
      padding: 20vh;

      & > p,
      & > span {
        cursor: pointer;
      }
    }
    height: 54px;
    display: block;
    .links,
    .icons {
      display: none;
      font-size: 1.3rem;
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .icons2 {
      display: block;
      position: absolute;
      top: 0;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.3rem;
      i {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  nav {
    .logo {
      left: 30%;
    }
  }
}

#display {
  display: none;
}
