nav {
  background-color: var(--nav-color);
  color: var(--color);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  // font-weight: bolder;
  li {
    cursor: pointer;
  }
  div:nth-child(1) {
    cursor: pointer;
    flex: 1;
    img {
      height: 30px;
    }
  }
  div:nth-child(2) {
    width: 33%;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  div:nth-child(2) ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div:nth-child(3) {
    flex: 1;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span,
    a {
      margin-left: 30px;
      cursor: pointer;
    }
    & > i {
      margin-left: 30px;
      cursor: pointer;
    }
  }
}
