@mixin shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#bg {
  background-color: var(--accent);
  color: var(--color);
  // background-clip: padding-box;
}
.catig {
  padding-top: 84px;
  padding-bottom: 64px;
  background-color: var(--bg-color3);
  .nav {
    display: flex;
    justify-content: center;
    color: var(--color);
    ul {
      cursor: pointer;
      display: flex;
      justify-content: center;
      li {
        background-color: var(--bg-color2);
        padding: 0 0.5rem;
        border-right: 1px solid var(--color);
        border-top: 1px solid var(--color);
        border-bottom: 1px solid var(--color);
      }
      li:nth-child(1) {
        border-left: 1px solid var(--color);
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      li:nth-child(4) {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}
.category {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: 400px;
  grid-gap: 20px;
  justify-content: center;
  .catitem1 {
    display: flex;
    background: var(--linear);
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    .catitem11 {
      border-radius: 10px;

      flex: 1;
      // background: url('../../Assets/dress.png') no-repeat center/cover;
      background: url('https://res.cloudinary.com/dtyrfo0fx/image/upload/v1580722968/dress.png')
        no-repeat center/cover;
      background-origin: content-box;
      height: 100%;
      width: 100%;
      position: relative;
      div {
        // background: url('../../Assets/best.png') no-repeat center/cover;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .catitem12 {
      flex: 1;
      color: white;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      span:nth-child(1) {
        text-align: center;
        font-family: oswald;
        font-size: 3rem;
      }
      span:nth-child(2) {
        border-top: white 2px solid;
        border-bottom: white 2px solid;
      }
      span:nth-child(3) {
        padding: 1rem 2rem;
        background-color: #280c28;
        cursor: pointer;
      }
    }
  }
  .catitem {
    border-radius: 10px;
    position: relative;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card);
    color: var(--color);
    cursor: pointer;
    & > i {
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      text-shadow: 0 0 3px #000;
    }
    .desc {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      & div {
        display: flex;
        justify-content: space-between;
      }
      & p {
        opacity: 0.5;
        font-size: 90%;
      }
    }
    .catimg {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#heart {
  color: red;
  text-shadow: none;
}

@media only screen and (max-width: 767px) {
  .category {
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: 400px;
    .catitem1 {
      // flex-direction: column;
      grid-column: 1 / span 2;
    }
  }
}
@media only screen and (max-width: 425px) {
  .category {
    grid-template-columns: repeat(1, 70%);
    grid-auto-rows: 400px;
    .catitem1 {
      flex-direction: column;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }
  }
}
