td,
th {
  // border: 1px solid #999;
  // padding: 0.5rem;
}
tr {
  th:nth-child(1) {
    text-align: left;
  }
}
tbody {
  tr {
    td {
      text-align: center;
    }
    td:nth-child(1) {
      display: flex;
    }
  }
}
.val {
  span {
    text-align: center;
    margin: 0 0.5rem;
  }
}
.cart {
  padding: 0 3rem;
  display: flex;
  margin-top: 54px;
  .div1 {
    flex: 5;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .main {
      .head {
      }
      .content {
        td {
          // display: flex;
          // justify-content: space-between;
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .div2 {
    flex: 2;
    height: var(--height);
    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
