td,
th {
  // border: 1px solid #999;
  // padding: 0.5rem;
}
tr {
  th:nth-child(1) {
    text-align: left;
  }
}
tbody {
  tr {
    td {
      text-align: center;
    }
    td:nth-child(1) {
      display: flex;
    }
  }
}
.val {
  span {
    text-align: center;
    margin: 0 0.5rem;
  }
}
.cart {
  padding: 0 3rem;
  display: flex;
  margin-top: 54px;
  .div1 {
    background-color: yellow;
    padding: 3rem;
    flex: 5;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .main {
      .head {
      }
      .content {
        td {
          // display: flex;
          // justify-content: space-between;
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .div2 {
    padding: 3rem 2rem;
    background-color: #eee;
    flex: 2;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      select {
        padding: 1rem;
      }
      input {
        padding: 1rem;
      }
      .apply {
        background-color: var(--bg-color);
        // text-align: center;
        padding: 1rem 2rem;
        color: white;
        align-self: flex-start;
      }
      .checkout {
        background-color: var(--bg-color);
        text-align: center;
        padding: 1rem;
        color: white;
        cursor: pointer;
      }
      & > :nth-child(1) {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 1rem;
      }
    }
  }
}

.divider {
  height: 1px;
  background-color: black;
}

.pay {
  z-index: 4;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
    margin: 0 auto;
  }
}
