table {
  border-spacing: 25px;
}
th {
  font-weight: normal;
}
tr {
  th:nth-child(1) {
    text-align: left;
  }
}
tbody {
  tr {
    td {
      text-align: center;
    }
    td:nth-child(1) {
      display: flex;
    }
  }
}
.val {
  span {
    text-align: center;
    margin: 0 0.5rem;
  }
}
.cart {
  padding: 0 3rem;
  display: flex;
  margin-top: 54px;
  background-color: var(--sign2);
  color: var(--color);
  .div1 {
    padding: 3rem;
    flex: 5;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    .title {
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .main {
      .head {
      }
      .content {
        & > :first-child {
          display: flex;
        }
        td {
          vertical-align: top;
          // margin-top: 25px;
          // justify-content: space-between;
          img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            & > :first-child {
              font-weight: bold;
            }
          }
        }
        & > :last-child {
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
  .div2 {
    padding: 3rem 2rem;
    background-color: var(--checkout);
    flex: 2;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > :first-child {
      font-size: 1.3rem;
      font-weight: bold;
    }
    .details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cost {
        display: flex;
        justify-content: space-between;
      }
      select {
        padding: 1rem;
        background-color: var(--select);
        color: var(--color);
      }
      input {
        padding: 1rem;
      }
      .apply {
        background-color: var(--bg-color);
        // text-align: center;
        padding: 1rem 2rem;
        color: white;
        align-self: flex-start;
      }
      .checkout {
        background-color: var(--checkout2);
        text-align: center;
        padding: 1rem;
        color: var(--nav-color);
        cursor: pointer;
      }
      & > :nth-child(1) {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 1rem;
      }
    }
  }
}

.divider {
  height: 1px;
  background-color: black;
  margin: 25px 0;
}

.pay {
  z-index: 4;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .cart {
    flex-direction: column;
    .div1 {
      padding: unset;
      padding-bottom: 1rem;
    }
  }
}
@media only screen and (max-width: 425px) {
  .cart {
    padding: unset;
    .div1 {
      .title {
        padding: 0 1rem;
        padding-top: 20px;
      }
      .main {
        .content {
          td {
            div {
            }
            img {
              margin-right: unset;
              padding-bottom: 10px;
            }
          }
        }
      }
      table {
        thead {
          tr {
            & > :nth-child(3) {
              display: none;
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: unset;
            }
            & > :nth-child(1) {
              flex-direction: column;
            }
            & > :nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }
}
