.newarrivals {
  background-color: #ccc;
  padding: 60px;
  height: var(--height);
  .arrivalsbox {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
  }
}
.arrival {
  background: url('https://via.placeholder.com/100/FFFFFF');
}
